@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(10px + 0.5vw);
}

.container  {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bounce {
  animation: bounceBall 1s infinite alternate ease-in-out
}

.bounce-2 {
  animation-delay: 0.25s;
}

.bounce-3 {
  animation-delay: 0.5s;
}

.bounce-4 {
  animation-delay: 0.75s;
}

@keyframes bounceBall {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }  
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }  
}